* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2a2a2a;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 10px;
}

.margin-left {
  margin-left: 20px;
}

.left {
  float: left;
}

.hide {
  display: none;
}

.tab {
  position: relative;
  top: 1px;
}

.grey {
    background: #e4e4e4;
}

.border {
  border: #545454 1px solid;
}

.content {
  width: 400px;
  height: 200px;
  padding: 20px;
  display: none;
}

.show {
  display: inline;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

.second-color-background {
 background-color: #acacac; 
}

.selected {
  border-bottom: none;
  position: relative;
  top: 2px;
}